
*.DS_Store
video/RPAN1.mp4
images/ResistedCapture/ResistedCapture.xcf
docs/CapturingStereoAudioFromBuiltInMicrophones/
/shortcuts/Speech Synthesis/Make Audio from Article Body-2.md
video/2021-09-20 02-16-56.mp4
video/2021-09-20 02-41-56.mp4
