.bc-background-ios,
.bc-background-ios-1 { background-color: #5fc9f8; }
.bc-color-ios,
.bc-color-ios-1 { color: #5fc9f8; }
.bc-background-ios-2 { background-color: #fecb2e; }
.bc-color-ios-2 { color: #fecb2e; }
.bc-background-ios-3 { background-color: #fd9426; }
.bc-color-ios-3 { color: #fd9426; }
.bc-background-ios-4 { background-color: #fc3158; }
.bc-color-ios-4 { color: #fc3158; }
.bc-background-ios-5 { background-color: #147efb; }
.bc-color-ios-5 { color: #147efb; }
.bc-background-ios-6 { background-color: #53d769; }
.bc-color-ios-6 { color: #53d769; }
.bc-background-ios-7 { background-color: #fc3d39; }
.bc-color-ios-7 { color: #fc3d39; }
.bc-background-ios-8 { background-color: #8e8e93; }
.bc-color-ios-8 { color: #8e8e93; }