<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Create an Apple Reminder for a single file.

𝗠𝘆 𝗰𝗼𝗻𝘁𝗮𝗰𝘁 𝗶𝗻𝗳𝗼𝗿𝗺𝗮𝘁𝗶𝗼𝗻:
Email: davidblue@extratone.com
Contact card: https://davidblue.wtf/db.vcf
Mastodon: https://mastodon.social/@DavidBlue
RoutineHub Profile: https://routinehub.co/user/blue
GitHub: https://github.com/extratone
iOS-specific Repository: https://github.com/extratone/i
Telegram: https://t.me/DavidBlue
Telegram Channel: https://t.me/extratone
Discord: https://davidblue.wtf/discord
Twitter: https://twitter.com/NeoYokel
Reddit: https://reddit.com/u/asphaltapostle
EVERYWHERE: https://davidblue.wtf/socialdrop</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.TagFilesIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>DD9118BF-06F4-4510-B4FB-2B44C1B4210B</string>
				<key>addTags</key>
				<string>Reminders</string>
				<key>appendTags</key>
				<string>Reminders</string>
				<key>files</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFGenericFileContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
						</array>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>mode</key>
				<string>set</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Tag(s) of your choice are added to the subject file using Apple's native tagging system.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.properties.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5DA380FB-B6BE-4F3B-A2F7-773C22F1E47A</string>
				<key>WFContentItemPropertyName</key>
				<string>Name</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.changecase</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>27D9DF95-AAC8-41F8-8EAC-830912424BFC</string>
				<key>WFCaseType</key>
				<string>Capitalize Every Word</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Name</string>
						<key>OutputUUID</key>
						<string>5DA380FB-B6BE-4F3B-A2F7-773C22F1E47A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3ADC849D-B5CE-42EC-BDAB-725D76A466E0</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Updated Text</string>
								<key>OutputUUID</key>
								<string>27D9DF95-AAC8-41F8-8EAC-830912424BFC</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFReplaceTextFind</key>
				<string> </string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Updated Text</string>
						<key>OutputUUID</key>
						<string>3ADC849D-B5CE-42EC-BDAB-725D76A466E0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>formattedName</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>The original filename is modified (hopefully) to make it more recognizable/readable.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.GenerateThumbnailsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7B1154DE-B945-4F5E-B0FC-80AF4BED597A</string>
				<key>backgroundColour</key>
				<string>customHex</string>
				<key>files</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>hexCode</key>
				<string>\u0023ffba58</string>
				<key>withPreviews</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Toolbox Pro's [thumbnail generation tool](https://toolboxpro.app/images\u0023:~:text=filter%20to%20images-,generate%20thumbnails,-Generate%20small%20preview) creates an image to be attached to the Reminder result.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.GetFileURLIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>fileurl</string>
				<key>UUID</key>
				<string>8817489C-F55E-4DCD-AD15-782E206988FB</string>
				<key>file</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setclipboard</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>755B6362-CD7F-4A0C-B943-3D683AADFCDD</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>fileurl</string>
						<key>OutputUUID</key>
						<string>8817489C-F55E-4DCD-AD15-782E206988FB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Toolbox Pro generates a schemed/openable URL to the input file, which is copied to the system clipboard and will be appended as the `URL` variable of the Reminder result.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.properties.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>created</string>
				<key>UUID</key>
				<string>FFF83E7D-E918-42B2-8C35-1A943C51C774</string>
				<key>WFContentItemPropertyName</key>
				<string>File Extension</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.filesize</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D28C907F-89FB-4DD2-AAEB-E4D0939D6FE8</string>
				<key>WFFileSize</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>File Size</string>
								<key>PropertyUserInfo</key>
								<string>WFFileSizeProperty</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>created</string>
						<key>OutputUUID</key>
						<string>FFF83E7D-E918-42B2-8C35-1A943C51C774</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>BCBE24F0-9E23-4C84-858B-62FD83B0C31F</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{13, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>File Extension</string>
										<key>PropertyUserInfo</key>
										<string>WFFileExtensionProperty</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>created</string>
								<key>OutputUUID</key>
								<string>FFF83E7D-E918-42B2-8C35-1A943C51C774</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{23, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>File Path</string>
										<key>PropertyUserInfo</key>
										<dict/>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>created</string>
								<key>OutputUUID</key>
								<string>FFF83E7D-E918-42B2-8C35-1A943C51C774</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{33, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted File Size</string>
								<key>OutputUUID</key>
								<string>D28C907F-89FB-4DD2-AAEB-E4D0939D6FE8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{46, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>Creation Date</string>
										<key>PropertyUserInfo</key>
										<string>WFFileCreationDate</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>OutputName</key>
								<string>created</string>
								<key>OutputUUID</key>
								<string>FFF83E7D-E918-42B2-8C35-1A943C51C774</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{60, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>Last Modified Date</string>
										<key>PropertyUserInfo</key>
										<string>WFFileModificationDate</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<true/>
									</dict>
								</array>
								<key>OutputName</key>
								<string>created</string>
								<key>OutputUUID</key>
								<string>FFF83E7D-E918-42B2-8C35-1A943C51C774</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>- Extension: &#xFFFC;
- Path: &#xFFFC;
- Size: &#xFFFC;
- Created: &#xFFFC;
- Modified: &#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>BCBE24F0-9E23-4C84-858B-62FD83B0C31F</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>details</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Details about the input file are gathered to attach to the `Notes` variable of the Reminder result.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B133EC65-8216-43AC-8E50-1D2EEBCC5694</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/9C05D9A6-6F8B-48BF-A67C-57255F82E85D&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>i</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>i</string>
				<key>WFCalendarItemNotes</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>details</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>formattedName</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFImages</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Thumbnails</string>
						<key>OutputUUID</key>
						<string>7B1154DE-B945-4F5E-B0FC-80AF4BED597A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFTags</key>
				<string>Files, Jorts, Automation</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>fileurl</string>
								<key>OutputUUID</key>
								<string>8817489C-F55E-4DCD-AD15-782E206988FB</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.GetReminderIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>807DAF01-C2C8-4C69-B651-2A0F43E74E35</string>
				<key>list</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>List</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>B133EC65-8216-43AC-8E50-1D2EEBCC5694</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>reminder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>B133EC65-8216-43AC-8E50-1D2EEBCC5694</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>97212229-9205-42F8-B468-BBC7531AA8C0</string>
				<key>WFURLActionURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{36, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Reminder UUID</string>
								<key>OutputUUID</key>
								<string>807DAF01-C2C8-4C69-B651-2A0F43E74E35</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>x-apple-reminderkit://REMCDReminder/&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>AE265358-6A2E-4446-BCC3-440B0C2752E7</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>URL</string>
						<key>OutputUUID</key>
						<string>97212229-9205-42F8-B468-BBC7531AA8C0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Toolbox Pro retrieves the UUID of the Reminder result, which is reformatted into a schemed Reminders URL and opened.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3D11DF15-0BBF-4365-B17A-0830762C8F90</string>
				<key>WFURLActionURL</key>
				<string>https://github.com/extratone/iOSSystemSounds/raw/main/caf/end_record.caf</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1AB6A907-A55E-4452-958F-FDD0FC08EE28</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>URL</string>
								<key>OutputUUID</key>
								<string>3D11DF15-0BBF-4365-B17A-0830762C8F90</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.playsound</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Contents of URL</string>
						<key>OutputUUID</key>
						<string>1AB6A907-A55E-4452-958F-FDD0FC08EE28</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>2205</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61571</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>3031607807</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ActionIndex</key>
			<integer>1</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>Reminders</string>
			<key>ParameterKey</key>
			<string>addTags</string>
			<key>Text</key>
			<string>Choose native Apple Files tag(s) to attach to the input file. (Optional)</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>4</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>Capitalize Every Word</string>
			<key>ParameterKey</key>
			<string>WFCaseType</string>
			<key>Text</key>
			<string>Customize behavior of the Change Case Action. (Optional)</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>14</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>Automatic</string>
			<key>ParameterKey</key>
			<string>WFFileSizeFormat</string>
			<key>Text</key>
			<string>Customize the output format of the File Size detail. (Optional)</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>18</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<dict>
				<key>Identifier</key>
				<string>&lt;x-apple-reminderkit://REMCDList/9C05D9A6-6F8B-48BF-A67C-57255F82E85D&gt;</string>
				<key>IsAllCalendar</key>
				<false/>
				<key>Title</key>
				<string>i</string>
			</dict>
			<key>ParameterKey</key>
			<string>WFCalendarDescriptor</string>
			<key>Text</key>
			<string>Choose a List in Apple Reminders in which to add the Reminder result. (Optional)</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>18</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>No Alert</string>
			<key>ParameterKey</key>
			<string>WFAlertEnabled</string>
			<key>Text</key>
			<string>Choose whether or not the Reminder result will include an Alert. (Required)</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>18</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>Low</string>
			<key>ParameterKey</key>
			<string>WFPriority</string>
			<key>Text</key>
			<string>Choose the priority of the Reminder result. (Optional)</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>18</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>ParameterKey</key>
			<string>WFFlag</string>
			<key>Text</key>
			<string>Choose whether or not the Reminder result will be flagged. (Required)</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>18</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>Files</string>
			<key>ParameterKey</key>
			<string>WFTags</string>
			<key>Text</key>
			<string>Choose tags (in Apple Reminders) to attach to the Reminder result. (Optional)</string>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFGenericFileContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFGenericFileContentItem</string>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>ActionExtension</string>
	</array>
</dict>
</plist>
