<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Automate `shortcuts sign` to export shareable .shortcut files by folder.

This is a modification of Federico Viticci’s “Shortcut Injector:” https://www.icloud.com/shortcuts/fa780dd6de044d878c4c827009651a56

Read more here: https://club.macstories.net/posts/creating-modifying-and-signing-shortcuts-on-macos

My contact information:

Email: davidblue@extratone.com
Contact card: bit.ly/whoisdavidblue
RoutineHub Profile: https://routinehub.co/user/blue
GitHub: https://github.com/extratone/i
Telegram: t.me/extratone
Twitter: twitter.com/NeoYokel
Reddit: reddit.com/u/asphaltapostle
Mastodon: mastodon.social/@DavidBlue
EVERYWHERE: bit.ly/dbrolodex</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.folder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Selected Folder</string>
				<key>UUID</key>
				<string>60487525-E631-4F7B-9C79-EA12E2F59773</string>
				<key>WFFolder</key>
				<dict>
					<key>displayName</key>
					<string>Unsigned</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>Shortcuts</string>
						<key>appContainerBundleIdentifier</key>
						<string>com.apple.shortcuts</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.MobileDocumentsFileProvider</string>
						<key>relativeSubpath</key>
						<string>Unsigned</string>
					</dict>
					<key>filename</key>
					<string>Unsigned</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getmyworkflows</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Folder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Ask</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>3C5EB40A-DE48-4332-9A76-3AB813798524</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>EB5C82C9-1144-4499-B663-83F66DE6B6F3</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>My Shortcuts</string>
						<key>OutputUUID</key>
						<string>3C5EB40A-DE48-4332-9A76-3AB813798524</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>maccatalyst.com.Christopher-Hannah.Text-Case.TextCaseIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>ShowWhenRun</key>
				<false/>
				<key>UUID</key>
				<string>03D7588F-60DF-4748-9D42-D9713F8B9B8A</string>
				<key>format</key>
				<string>camelCase</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setitemname</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0CA3C8F5-7D86-489F-B646-38EADDAC16B4</string>
				<key>WFDontIncludeFileExtension</key>
				<false/>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFName</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted Text</string>
								<key>OutputUUID</key>
								<string>03D7588F-60DF-4748-9D42-D9713F8B9B8A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.save</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Unsigned Shortcut File</string>
				<key>UUID</key>
				<string>F2589425-2082-4FAB-BEE9-C0D817579057</string>
				<key>WFAskWhereToSave</key>
				<false/>
				<key>WFFolder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Selected Folder</string>
						<key>OutputUUID</key>
						<string>60487525-E631-4F7B-9C79-EA12E2F59773</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Renamed Item</string>
						<key>OutputUUID</key>
						<string>0CA3C8F5-7D86-489F-B646-38EADDAC16B4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSaveFileOverwrite</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6F80370E-2213-4AEA-8017-C671BB8AA63D</string>
				<key>WFMatchTextPattern</key>
				<string>(.+)\/(.+\.shortcut)</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>File Path</string>
										<key>PropertyUserInfo</key>
										<dict/>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Unsigned Shortcut File</string>
								<key>OutputUUID</key>
								<string>F2589425-2082-4FAB-BEE9-C0D817579057</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match.getgroup</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>80E99E75-21FB-43DA-8EEF-5BE12108EE85</string>
				<key>matches</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Matches</string>
						<key>OutputUUID</key>
						<string>6F80370E-2213-4AEA-8017-C671BB8AA63D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ED58366A-A17C-4CB7-9F43-93D775136565</string>
				<key>WFTextActionText</key>
				<string>shortcuts/signed</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runshellscript</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Script</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{3, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>80E99E75-21FB-43DA-8EEF-5BE12108EE85</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{34, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>File Path</string>
										<key>PropertyUserInfo</key>
										<dict/>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Unsigned Shortcut File</string>
								<key>OutputUUID</key>
								<string>F2589425-2082-4FAB-BEE9-C0D817579057</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{41, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>ED58366A-A17C-4CB7-9F43-93D775136565</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{42, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted Text</string>
								<key>OutputUUID</key>
								<string>03D7588F-60DF-4748-9D42-D9713F8B9B8A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>cd &#xFFFC;
shortcuts sign -m anyone -i "&#xFFFC;" -o "&#xFFFC;&#xFFFC;.shortcut"</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>UUID</key>
				<string>968FE5EB-6907-40BB-BFA8-7E37E96783FD</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>EB5C82C9-1144-4499-B663-83F66DE6B6F3</string>
				<key>UUID</key>
				<string>39E4B292-0B24-4D0F-A91B-6C27B76B4F93</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>1146.11</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59770</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>4292093695</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ActionIndex</key>
			<integer>1</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>ParameterKey</key>
			<string>WFFolder</string>
			<key>Text</key>
			<string>Choose an intermediary directory for the pre-signed, exported shortcuts files.</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>9</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>shortcuts/signed</string>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Text</key>
			<string>The filepath from your home (~) directory for the final, signed shortcuts files.</string>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1106</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1106</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
