<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>curl to Tilde.Town’s temporary file share instantaneously.

My contact information:

Email: davidblue@extratone.com
Contact card: bit.ly/whoisdavidblue
RoutineHub Profile: https://routinehub.co/user/blue
GitHub: https://github.com/extratone/i
Telegram: t.me/extratone
Twitter: twitter.com/NeoYokel
Reddit: reddit.com/u/asphaltapostle
Mastodon: mastodon.social/@DavidBlue
EVERYWHERE: bit.ly/dbrolodex</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runshellscript</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>InputMode</key>
				<string>to stdin</string>
				<key>Script</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{14, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFGenericFileContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>PropertyName</key>
										<string>File Path</string>
										<key>PropertyUserInfo</key>
										<dict/>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>curl -F'file=@&#xFFFC;' https://ttm.sh</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>UUID</key>
				<string>7653CC1D-B946-4BBF-992D-6D4F257EFD99</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.InsertValueInArrayIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E080EFD5-F150-4350-8E4D-583A95AEACA3</string>
				<key>keyPath</key>
				<string>ttm</string>
				<key>valueConversionMode</key>
				<string>text</string>
				<key>values</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shell Script Result</string>
						<key>OutputUUID</key>
						<string>7653CC1D-B946-4BBF-992D-6D4F257EFD99</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-WFInput</key>
				<true/>
				<key>UUID</key>
				<string>EB2027A6-8D33-401A-83A7-B98A090CE3F4</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shell Script Result</string>
						<key>OutputUUID</key>
						<string>7653CC1D-B946-4BBF-992D-6D4F257EFD99</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFNoOutputSurfaceBehavior</key>
				<string>Copy to Clipboard</string>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shell Script Result</string>
								<key>OutputUUID</key>
								<string>7653CC1D-B946-4BBF-992D-6D4F257EFD99</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFResponse</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shell Script Result</string>
								<key>OutputUUID</key>
								<string>7653CC1D-B946-4BBF-992D-6D4F257EFD99</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>1146.11</string>
	<key>WFWorkflowHasOutputFallback</key>
	<true/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61456</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>3980825855</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ActionIndex</key>
			<integer>1</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string>ttm</string>
			<key>ParameterKey</key>
			<string>keyPath</string>
			<key>Text</key>
			<string>Specify the Key Path (Jar) you'd like to store the resulting URL in, if any. (This is optional but you’ll need to delete the action if you don’t intend to use it.)</string>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFImageContentItem</string>
		<string>WFGenericFileContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFGenericFileContentItem</string>
			<key>SerializedParameters</key>
			<dict/>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFGenericFileContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>MenuBar</string>
		<string>QuickActions</string>
	</array>
</dict>
</plist>
