<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Sync all 7 Tot Dots with specific Drafts.

See this shortcut’s corresponding GitHub Issue for more information: https://github.com/extratone/i/issues/181

My contact information:

Email: davidblue@extratone.com
Contact card: bit.ly/whoisdavidblue
RoutineHub Profile: https://routinehub.co/user/blue
GitHub: https://github.com/extratone/i
Telegram: t.me/extratone
Twitter: twitter.com/NeoYokel
Reddit: reddit.com/u/asphaltapostle
Mastodon: mastodon.social/@DavidBlue
EVERYWHERE: bit.ly/dbrolodex</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>210FCFBF-F3A1-49D6-AD75-D306E07360A6</string>
				<key>uuid</key>
				<string>57AD10ED-5A99-438A-88E7-68C5F41D1564</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>710043F5-6988-4788-BC75-87DA132BA966</string>
				<key>uuid</key>
				<string>C4E91F15-95BC-4858-8922-86FE9F8FD303</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1AB38CB4-6AC6-40CC-BFCA-B5C66EE9D54E</string>
				<key>uuid</key>
				<string>2734FEC9-9F48-431C-9EAA-0C9D79A29D03</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>78AA7EF7-1508-4493-9E13-249FDDDF9721</string>
				<key>uuid</key>
				<string>3F5439FD-8587-4F98-A6ED-598810B393D5</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>15243B92-9048-4604-AE18-8C2F5B98B0BE</string>
				<key>uuid</key>
				<string>6FB07C7A-41B6-4E40-8942-D82707E514B2</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ACFD3874-E3AD-4E7A-B6C8-28EE8BB89A31</string>
				<key>uuid</key>
				<string>80F40208-15F0-4B84-9711-707E70D7D8A5</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1ECDDBE1-583A-4CBF-9464-E2B386570E9B</string>
				<key>uuid</key>
				<string>5D709EBE-3738-4436-B24D-3EF10914EC60</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.iconfactory.Tot.GetDotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6BF9531D-B3A2-4837-8E42-11273F444E91</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-tags</key>
				<true/>
				<key>UUID</key>
				<string>D489EFF2-4D1C-422A-BCE2-342B0923BB8F</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMDDYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>6BF9531D-B3A2-4837-8E42-11273F444E91</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># 1
&#xFFFC;
---
`&#xFFFC;`</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft</string>
						<key>OutputUUID</key>
						<string>210FCFBF-F3A1-49D6-AD75-D306E07360A6</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tags</key>
				<string>dots</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.iconfactory.Tot.GetDotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>793DF4A9-D493-44DD-93FA-CD2001C5A7B9</string>
				<key>dot</key>
				<real>2</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-tags</key>
				<true/>
				<key>UUID</key>
				<string>7C4C90E6-479F-46D6-B739-6F0B06CE4D7E</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMDDYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>793DF4A9-D493-44DD-93FA-CD2001C5A7B9</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># 2
&#xFFFC;
---
`&#xFFFC;`</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft</string>
						<key>OutputUUID</key>
						<string>710043F5-6988-4788-BC75-87DA132BA966</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tags</key>
				<string>dots</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.iconfactory.Tot.GetDotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>40F36045-8CC3-4B80-98B8-631A9C060D9A</string>
				<key>dot</key>
				<real>3</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-tags</key>
				<true/>
				<key>UUID</key>
				<string>34FA9BBD-B3F3-4C58-8770-BD1DC0EC8C40</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMDDYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>40F36045-8CC3-4B80-98B8-631A9C060D9A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># 3
&#xFFFC;
---
`&#xFFFC;`</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft</string>
						<key>OutputUUID</key>
						<string>1AB38CB4-6AC6-40CC-BFCA-B5C66EE9D54E</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tags</key>
				<string>dots</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.iconfactory.Tot.GetDotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FFDD3826-B91F-4122-8770-9D8C5FDFD74E</string>
				<key>dot</key>
				<real>4</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-tags</key>
				<true/>
				<key>UUID</key>
				<string>742DB28C-B9C2-4D3B-AC35-284B97C4EE75</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMDDYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>FFDD3826-B91F-4122-8770-9D8C5FDFD74E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># 4
&#xFFFC;
---
`&#xFFFC;`</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft</string>
						<key>OutputUUID</key>
						<string>78AA7EF7-1508-4493-9E13-249FDDDF9721</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tags</key>
				<string>dots</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.iconfactory.TotMobile.GetDotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C6668C79-CD4A-4578-B950-1AF8DFE3AEC8</string>
				<key>dot</key>
				<real>5</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-tags</key>
				<true/>
				<key>UUID</key>
				<string>C60360C1-5D0A-4903-A891-1E681F4BE352</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMDDYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>C6668C79-CD4A-4578-B950-1AF8DFE3AEC8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># 5
&#xFFFC;
---
`&#xFFFC;`</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft</string>
						<key>OutputUUID</key>
						<string>15243B92-9048-4604-AE18-8C2F5B98B0BE</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tags</key>
				<string>dots</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.iconfactory.TotMobile.GetDotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4BEB5AF5-CD25-45B6-BAF2-0EEDFB8DE3D1</string>
				<key>dot</key>
				<real>6</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-tags</key>
				<true/>
				<key>UUID</key>
				<string>DEF4D6E4-A967-49C6-A3F3-DDCBF619B215</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMDDYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>4BEB5AF5-CD25-45B6-BAF2-0EEDFB8DE3D1</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># 6
&#xFFFC;
---
`&#xFFFC;`</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft</string>
						<key>OutputUUID</key>
						<string>ACFD3874-E3AD-4E7A-B6C8-28EE8BB89A31</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tags</key>
				<string>dots</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.iconfactory.TotMobile.GetDotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>32F9A49C-8951-45CA-8A7E-7FF21A2F170F</string>
				<key>dot</key>
				<real>7</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts-OSX.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-tags</key>
				<true/>
				<key>UUID</key>
				<string>EE19AF24-A769-4486-A3B1-B2D7CD716749</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMDDYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>32F9A49C-8951-45CA-8A7E-7FF21A2F170F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># 7
&#xFFFC;
---
`&#xFFFC;`</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft</string>
						<key>OutputUUID</key>
						<string>1ECDDBE1-583A-4CBF-9464-E2B386570E9B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tags</key>
				<string>dots</string>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>1146.11</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59392</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>946986751</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
